.btn {
	font-size: 1.2rem;
	font-weight: 700;
	position: relative;
	display: inline-block;
	padding: 0.1rem 0.4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.btn--green.btn--emboss {
	color: #00662d;
	text-shadow: -1px -1px 1px #00ff71;
	border-bottom: 5px solid #00662d;
}

.btn--green.btn--cubic:hover {
	margin-top: 3px;
	border-bottom: 2px solid #00662d;
}
